node_modules
DS_Store

database/awsconfig.json
database/postgres/postgresconfig.json

database/data/mockdata.csv
database/data/mockdatatest.csv

// testing
k6test.js
newrelic.js
newrelic_agent.log
nrdiag
nrdiag-filelist.txt
nrdiag-output.json
nrdiag-output.zip